body {
  background-color: #fffbf7;
}

h1 {
    color: #025157;
    font-family: 'Acme', sans-serif;
    font-size: 60px;
    margin-bottom: 24px;
}

h2{
  color: #46484c;
  font-family: "Slabo 27px", serif;
  font-size: 20px;
  margin: 20px 0px 30px;
}

h3{
  font-family: 'Acme', sans-serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}

p {
  color: #8B8B8BCC;
  font-family: "Slabo 27px", serif;
  font-size: 20px;
  margin: 20px 0px 30px;
}

button {
  color: #fff;
  background-color: #025157;
}

.header{
  margin: 20px 50px 0;
  font-size: 0;
  font-family: sans-serif;
}

.header button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
}

.fixed-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fffbf7;
}

.list_element{
  display: inline;
  margin: 0 15px 0;
}

.header > *{
  display: inline-block;
  font-size: 16px;
  line-height: 45px;
  height: 100%;
  vertical-align: middle;
}

.logo{
  width: 15%;
}

.logo > img{
  width: 25%;
}

.navbar{
  width: 60%;
  text-align: center;
  color: #025157;
  font-weight: 500;
}

.actions{
  width: 15%;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
}

.actions > *{
  margin: 0, 10px;
}

.actions a{
  color: #67b54b;
}

.actions button{
  color: white;
  background-color: #67b54b;
  padding: 12px, 14px;
  border: 0;
  border-radius: 5px;
}

.main{
  margin-top: 285px;
  text-align: center;
}

.publish > form{
  display: flex;
  flex-direction: column;
}

.publish > p{
  color: #343434;
}

.publish > form p{
  color: #025157;
  margin-top: 18px;
}

.promo{
  display: flex;
  width: 70%;
  margin: auto;
  align-items: center;
}

.explanatory-video{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explanatory-video img {
  width: 120px;
  margin-top: 10px;
}

.features {
  background-color: #025157;
  height: 660px;
  padding: 60px 120px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  grid-template-areas: 
  "box-1 box-2"
  "box-3 box-4";
}

.box-1 {
  grid-area: box-1;
}

.box-2 {  
  grid-area: box-2;
}

.box-3 {
  grid-area: box-3;
}

.box-4 {
  grid-area: box-4;
}

.features article {
  background-color: white;
  border-radius: 10px;
  padding: 30px 20px 40px 40px;
}

a {
  color: #67b54b;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

a:link {
  text-decoration: none;
}









